<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Vue - </title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" class="container">
            <div class="row">
                <h1 :class="textClass">{{text}} {{nome}} {{cognome}}</h1>
                <h1 :class="textClass">{{saluto()}}</h1>
                <label>Inserisci nome</label>
                <input :class="bgClass" type="text" v-model="nome" placeholder = "Nome">               
                <label>Inserisci cognome</label>
                <input :class="bgClass" type="text" v-model="cognome" placeholder = "Cognome">
                <label>Scrivi colore del saluto</label>
                <input id="color-input" :class="bgClass" type="text" v-model="textClass" placeholder = "Scegli tra blu,rosso,verde,giallo">  
                
                <!-- bonus -->
                <div class="img-container">
                    <img :src="image" alt="">
                </div>

            </div>          
        </div>
    </body>
</html>