.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}

.color-input{
    width: 300px;
}

.blu{
    color: blue;
}

.rosso{
    color:red;
}

.verde{
    color: green;
}

.giallo{
    color: yellow;
}

.img-container{
    width: 300px;
    text-align: center;
}

.img-container>img{
    padding: 20px 0;
    width: 80%;
}