.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink;
}

#color-input{
    width: 200px;
}

.blu{
    color: blue;
}

.rosso{
    color:red;
}

.verde{
    color: green;
}

.giallo{
    color: yellow;
}

.img-container>img{
    padding: 50px;
    width: 200px;
}